* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-con {
  background: linear-gradient(to bottom, #9ba9eb, #c3caea);
  padding: 3% 5%;
}

.password-manager-icon {
  height: 60px;
  margin: 5% 0%;
}
.card-1 {
  background-color: #5763a5;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.card-2 {
  background-color: #5763a5;
  margin: 5% 0%;
  border-radius: 20px;
  padding: 5%;
  color: #fff;
}
.password-card-con {
  background-color: #454f84;
  width: 100%;
  order: 2;
  padding: 5%;
  border-radius: 20px;
  color: #fff;
}

.password-manager-img {
  width: 100%;
  padding: 10%;
  order: 1;
}
.card-tag {
  background-color: #fff;
  margin: 5% 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.site-box {
  border-right: 1px solid #94a3b8;
}
.website {
  width: 100%;
  padding: 30%;
  height: 50px;
}
.website-input-box {
  padding: 0px;
}
.web-input {
  border: none;
  height: 100%;
  margin: 0px;
  width: 100%;
  padding: 5%;
}
.pass-con {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.pass-h {
  font-size: 20px;
  width: 80%;
}
.search-con {
  display: flex;
  height: 30px;
  background-color: #f8fafc;
  border-radius: 2px;
  width: 40%;
  padding: 0%;
}
.search-icon {
  padding: 3px 10px;
  height: 30px;
  margin: 0px;
  border-right: 1px solid #94a3b8;
}
.search-input {
  width: 100%;
  border: none;
  padding-left: 3%;
  font-weight: 600;
  font-size: 15px;
}
.horizontal-line {
  background-color: #94a3b8;
  height: 1px;
  margin: 5% 0%;
}
.check-box-con {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pass-tick {
  font-size: 15px;
  padding-left: 5px;
}
.add-btn-con {
  display: flex;
  justify-content: flex-end;
}
.add-btn {
  background-color: #0b69ff;
  border: 0px;
  color: #fff;
  padding: 3% 10%;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}
.count {
  border: 1px solid #fff;
  padding: 1% 6%;
  font-size: 15px;
  text-align: center;
  border-radius: 15px;
  font-weight: 400;
  margin-left: 1%;
  width: 20%;
}
.res-para {
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
.pass-letter-con {
  display: flex;
  width: 40%;
  align-items: center;
}

button {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.list-con {
  border: 1px solid #fff;
  display: flex;
  justify-content: space-around;
}
.delete-btn {
  background-color: transparent;
  border: none;
}
.del-btn-img {
  height: 20px;
}
.stars {
  height: 10px;
}
